<p id="notice"><%= notice %></p>

<p>
  <strong>タスク名:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>開始:</strong>
  <%= @task.start %>
</p>

<p>
  <strong>締切:</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong>詳細:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>完了:</strong>
  <%= @task.check %>
</p>

<p>
  <strong>優先度:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>カテゴリ:</strong>
  <%= Category.find(@task.category_id).name %>
</p>

<%= link_to '編集する', edit_task_path(@task) %> |
<%= link_to 'タスク一覧に戻る', tasks_path %>
